.admin-theme-jogja {
    .sidebar {
        .nav-link p {
            margin-left: 5px;
        }
    }

    .logo-switch .logo-xl {
        width: 150px;
        height: 33px;
        margin-left: 22px;
        margin-top: 0px;
    }
}
